openapi: 3.0.3
info:
  title: CubeOS API
  description: |
    CubeOS unified API for managing Docker services, network configuration,
    VPN connections, and storage mounts on Raspberry Pi.
  version: 2.0.0
  contact:
    name: CubeOS
    url: https://cubeos.app
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: http://api.cubeos.cube/api/v1
    description: Internal CubeOS network
  - url: http://10.42.24.1:6010/api/v1
    description: Direct IP access

tags:
  - name: Auth
    description: Authentication endpoints
  - name: Apps
    description: Unified application management
  - name: Profiles
    description: Service profile management
  - name: Network
    description: Network mode and WiFi management
  - name: VPN
    description: VPN client management (WireGuard, OpenVPN)
  - name: Mounts
    description: SMB/NFS mount management
  - name: System
    description: System information and control

security:
  - bearerAuth: []

paths:
  # ============================================================
  # Authentication
  # ============================================================
  /auth/login:
    post:
      tags: [Auth]
      summary: Login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  example: admin
                password:
                  type: string
                  example: cubeos
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================================
  # Apps (Unified)
  # ============================================================
  /apps:
    get:
      tags: [Apps]
      summary: List all apps
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [system, platform, network, ai, user]
        - name: status
          in: query
          schema:
            type: string
            enum: [running, stopped]
        - name: enabled
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: List of apps
          content:
            application/json:
              schema:
                type: object
                properties:
                  apps:
                    type: array
                    items:
                      $ref: '#/components/schemas/App'
    post:
      tags: [Apps]
      summary: Install app
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallAppRequest'
      responses:
        '201':
          description: App installed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '409':
          $ref: '#/components/responses/Conflict'

  /apps/{name}:
    get:
      tags: [Apps]
      summary: Get app details
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: App details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Apps]
      summary: Uninstall app
      parameters:
        - $ref: '#/components/parameters/AppName'
        - name: keep_data
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: App uninstalled
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'

  /apps/{name}/start:
    post:
      tags: [Apps]
      summary: Start app
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: App started
        '404':
          $ref: '#/components/responses/NotFound'

  /apps/{name}/stop:
    post:
      tags: [Apps]
      summary: Stop app
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: App stopped
        '404':
          $ref: '#/components/responses/NotFound'

  /apps/{name}/restart:
    post:
      tags: [Apps]
      summary: Restart app
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: App restarted
        '404':
          $ref: '#/components/responses/NotFound'

  /apps/{name}/enable:
    post:
      tags: [Apps]
      summary: Enable app (start on boot)
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: App enabled

  /apps/{name}/disable:
    post:
      tags: [Apps]
      summary: Disable app (don't start on boot)
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: App disabled

  /apps/{name}/logs:
    get:
      tags: [Apps]
      summary: Get app logs
      parameters:
        - $ref: '#/components/parameters/AppName'
        - name: lines
          in: query
          schema:
            type: integer
            default: 100
        - name: since
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: App logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      type: string

  /apps/{name}/tor:
    post:
      tags: [Apps]
      summary: Set Tor routing for app
      parameters:
        - $ref: '#/components/parameters/AppName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
      responses:
        '200':
          description: Tor routing updated

  # ============================================================
  # Profiles
  # ============================================================
  /profiles:
    get:
      tags: [Profiles]
      summary: List profiles
      responses:
        '200':
          description: List of profiles
          content:
            application/json:
              schema:
                type: object
                properties:
                  profiles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'
                  active_profile:
                    type: string
    post:
      tags: [Profiles]
      summary: Create custom profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfileRequest'
      responses:
        '201':
          description: Profile created

  /profiles/{name}:
    get:
      tags: [Profiles]
      summary: Get profile details
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'

  /profiles/{name}/apply:
    post:
      tags: [Profiles]
      summary: Apply profile
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile:
                    type: string
                  started:
                    type: array
                    items:
                      type: string
                  stopped:
                    type: array
                    items:
                      type: string

  # ============================================================
  # Network
  # ============================================================
  /network/status:
    get:
      tags: [Network]
      summary: Get network status
      responses:
        '200':
          description: Network status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkStatus'

  /network/mode:
    post:
      tags: [Network]
      summary: Set network mode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetNetworkModeRequest'
      responses:
        '200':
          description: Network mode changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkStatus'
        '500':
          $ref: '#/components/responses/InternalError'

  /network/wifi/scan:
    get:
      tags: [Network]
      summary: Scan for WiFi networks
      responses:
        '200':
          description: Available WiFi networks
          content:
            application/json:
              schema:
                type: object
                properties:
                  networks:
                    type: array
                    items:
                      $ref: '#/components/schemas/WiFiNetwork'

  /network/wifi/connect:
    post:
      tags: [Network]
      summary: Connect to upstream WiFi
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ssid, password]
              properties:
                ssid:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Connected to WiFi
        '500':
          $ref: '#/components/responses/InternalError'

  # ============================================================
  # VPN
  # ============================================================
  /vpn/status:
    get:
      tags: [VPN]
      summary: Get VPN connection status
      responses:
        '200':
          description: VPN status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VPNStatus'

  /vpn/configs:
    get:
      tags: [VPN]
      summary: List VPN configurations
      responses:
        '200':
          description: List of VPN configs
          content:
            application/json:
              schema:
                type: object
                properties:
                  configs:
                    type: array
                    items:
                      $ref: '#/components/schemas/VPNConfig'
    post:
      tags: [VPN]
      summary: Add VPN configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddVPNConfigRequest'
      responses:
        '201':
          description: VPN config added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VPNConfig'

  /vpn/configs/{name}:
    get:
      tags: [VPN]
      summary: Get VPN configuration
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: VPN config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VPNConfig'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [VPN]
      summary: Delete VPN configuration
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: VPN config deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /vpn/configs/{name}/connect:
    post:
      tags: [VPN]
      summary: Connect VPN
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: VPN connected
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  details:
                    $ref: '#/components/schemas/VPNStatus'
        '500':
          $ref: '#/components/responses/InternalError'

  /vpn/configs/{name}/disconnect:
    post:
      tags: [VPN]
      summary: Disconnect VPN
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: VPN disconnected

  /vpn/configs/{name}/auto-connect:
    put:
      tags: [VPN]
      summary: Set VPN auto-connect
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
      responses:
        '200':
          description: Auto-connect updated

  /vpn/public-ip:
    get:
      tags: [VPN]
      summary: Get current public IP
      responses:
        '200':
          description: Public IP
          content:
            application/json:
              schema:
                type: object
                properties:
                  public_ip:
                    type: string

  # ============================================================
  # Mounts
  # ============================================================
  /mounts:
    get:
      tags: [Mounts]
      summary: List all mounts
      responses:
        '200':
          description: List of mounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  mounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Mount'
    post:
      tags: [Mounts]
      summary: Add mount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMountRequest'
      responses:
        '201':
          description: Mount added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mount'

  /mounts/test:
    post:
      tags: [Mounts]
      summary: Test mount connection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, remote_path]
              properties:
                type:
                  type: string
                  enum: [smb, nfs]
                remote_path:
                  type: string
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Connection test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string

  /mounts/{name}:
    get:
      tags: [Mounts]
      summary: Get mount details
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Mount details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mount'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Mounts]
      summary: Delete mount
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Mount deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /mounts/{name}/mount:
    post:
      tags: [Mounts]
      summary: Mount share
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Share mounted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  details:
                    $ref: '#/components/schemas/MountStatus'

  /mounts/{name}/unmount:
    post:
      tags: [Mounts]
      summary: Unmount share
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Share unmounted

  /mounts/{name}/status:
    get:
      tags: [Mounts]
      summary: Get mount status
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Mount status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MountStatus'

  # ============================================================
  # System
  # ============================================================
  /system/info:
    get:
      tags: [System]
      summary: Get system information
      responses:
        '200':
          description: System information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemInfo'

  /health:
    get:
      tags: [System]
      summary: Health check
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  version:
                    type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    AppName:
      name: name
      in: path
      required: true
      schema:
        type: string
      description: App name (lowercase, no spaces)

  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden - system app protected
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Conflict - resource already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string

    App:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [system, platform, network, ai, user]
        category:
          type: string
        enabled:
          type: boolean
        tor_enabled:
          type: boolean
        vpn_enabled:
          type: boolean
        ports:
          type: array
          items:
            $ref: '#/components/schemas/Port'
        fqdns:
          type: array
          items:
            $ref: '#/components/schemas/FQDN'
        status:
          $ref: '#/components/schemas/AppStatus'

    Port:
      type: object
      properties:
        port:
          type: integer
        protocol:
          type: string
          enum: [tcp, udp]
        description:
          type: string
        is_primary:
          type: boolean

    FQDN:
      type: object
      properties:
        fqdn:
          type: string
        subdomain:
          type: string

    AppStatus:
      type: object
      properties:
        running:
          type: boolean
        health:
          type: string
          enum: [healthy, unhealthy, starting, unknown]
        replicas:
          type: string
          example: "1/1"

    InstallAppRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        display_name:
          type: string
        source:
          type: string
          enum: [cubeos, casaos, custom]
        store_app_id:
          type: string

    Profile:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_name:
          type: string
        description:
          type: string
        is_active:
          type: boolean
        is_system:
          type: boolean
        apps:
          type: array
          items:
            type: object
            properties:
              app_id:
                type: integer
              app_name:
                type: string
              enabled:
                type: boolean

    CreateProfileRequest:
      type: object
      required: [name, display_name]
      properties:
        name:
          type: string
        display_name:
          type: string
        apps:
          type: array
          items:
            type: object
            properties:
              app_name:
                type: string
              enabled:
                type: boolean

    NetworkStatus:
      type: object
      properties:
        mode:
          type: string
          enum: [offline, online_eth, online_wifi]
        internet:
          type: boolean
        ap:
          type: object
          properties:
            ssid:
              type: string
            interface:
              type: string
            clients:
              type: integer
        upstream:
          type: object
          properties:
            interface:
              type: string
            ip:
              type: string
            gateway:
              type: string
        subnet:
          type: string
        gateway_ip:
          type: string

    SetNetworkModeRequest:
      type: object
      required: [mode]
      properties:
        mode:
          type: string
          enum: [offline, online_eth, online_wifi]
        ssid:
          type: string
          description: Required for online_wifi mode
        password:
          type: string
          description: Required for online_wifi mode

    WiFiNetwork:
      type: object
      properties:
        ssid:
          type: string
        bssid:
          type: string
        signal:
          type: integer
          description: Signal strength in dBm
        security:
          type: string
        frequency:
          type: integer

    VPNStatus:
      type: object
      properties:
        connected:
          type: boolean
        active_config:
          type: string
        type:
          type: string
          enum: [wireguard, openvpn]
        public_ip:
          type: string
        connected_at:
          type: string
          format: date-time
        bytes_sent:
          type: integer
        bytes_received:
          type: integer

    VPNConfig:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        type:
          type: string
          enum: [wireguard, openvpn]
        is_active:
          type: boolean
        auto_connect:
          type: boolean
        created_at:
          type: string
          format: date-time

    AddVPNConfigRequest:
      type: object
      required: [name, type, config]
      properties:
        name:
          type: string
        type:
          type: string
          enum: [wireguard, openvpn]
        config:
          type: string
          description: Base64 encoded config file

    Mount:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        type:
          type: string
          enum: [smb, nfs]
        remote_path:
          type: string
        local_path:
          type: string
        username:
          type: string
        is_mounted:
          type: boolean
        auto_mount:
          type: boolean
        created_at:
          type: string
          format: date-time

    AddMountRequest:
      type: object
      required: [name, type, remote_path]
      properties:
        name:
          type: string
        type:
          type: string
          enum: [smb, nfs]
        remote_path:
          type: string
          description: "SMB: //server/share, NFS: server:/path"
        username:
          type: string
        password:
          type: string
        options:
          type: string
        auto_mount:
          type: boolean

    MountStatus:
      type: object
      properties:
        name:
          type: string
        is_mounted:
          type: boolean
        local_path:
          type: string
        remote_path:
          type: string
        type:
          type: string
        used_bytes:
          type: integer
        total_bytes:
          type: integer
        free_bytes:
          type: integer

    SystemInfo:
      type: object
      properties:
        hostname:
          type: string
        os:
          type: string
        kernel:
          type: string
        architecture:
          type: string
        cpu_model:
          type: string
        memory_total:
          type: integer
        uptime:
          type: integer
