openapi: 3.0.3
info:
  title: CubeOS API
  description: |
    CubeOS is an open-source ARM64 server operating system for Raspberry Pi.
    This API provides management for Docker services, network configuration, 
    VPN, storage mounts, and system monitoring.
    
    ## Authentication
    All endpoints except `/health` and `/auth/login` require JWT authentication.
    Include the token in the Authorization header: `Bearer <token>`
    
    ## Base URLs
    - Internal: `http://api.cubeos.cube/api/v1`
    - Direct: `http://10.42.24.1:6010/api/v1`
  version: 2.0.0
  contact:
    name: CubeOS
    url: https://cubeos.app
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: http://api.cubeos.cube/api/v1
    description: Internal DNS (from CubeOS network)
  - url: http://10.42.24.1:6010/api/v1
    description: Direct IP access

tags:
  - name: Health
    description: Health check endpoints
  - name: Auth
    description: Authentication endpoints
  - name: Apps
    description: Application management (install, start, stop, logs)
  - name: Network
    description: Network mode and WiFi management
  - name: VPN
    description: WireGuard and OpenVPN management
  - name: Mounts
    description: SMB/NFS mount management
  - name: Profiles
    description: Service profiles (Full, Minimal, Offline, Custom)
  - name: System
    description: System information and control

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      description: Returns API health status. No authentication required.
      operationId: getHealth
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /auth/login:
    post:
      tags: [Auth]
      summary: Login
      description: Authenticate and receive JWT token
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================================================
  # Apps Resource
  # ============================================================================
  /apps:
    get:
      tags: [Apps]
      summary: List all apps
      description: Returns all installed applications with their current status
      operationId: listApps
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          description: Filter by app type
          schema:
            type: string
            enum: [system, platform, network, ai, user]
        - name: status
          in: query
          description: Filter by running status
          schema:
            type: string
            enum: [running, stopped]
        - name: enabled
          in: query
          description: Filter by boot-enabled state
          schema:
            type: boolean
      responses:
        '200':
          description: List of apps
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Apps]
      summary: Install app
      description: Install a new application from app store or custom compose file
      operationId: installApp
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallAppRequest'
      responses:
        '201':
          description: App installed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: App already exists or port conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /apps/{name}:
    get:
      tags: [Apps]
      summary: Get app details
      description: Returns detailed information about a specific app
      operationId: getApp
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: App details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Apps]
      summary: Uninstall app
      description: Remove an application and optionally its data
      operationId: uninstallApp
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppName'
        - name: keep_data
          in: query
          description: Keep application data after uninstall
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: App uninstalled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '403':
          description: Cannot uninstall system app
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /apps/{name}/start:
    post:
      tags: [Apps]
      summary: Start app
      description: Start an application
      operationId: startApp
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: App started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /apps/{name}/stop:
    post:
      tags: [Apps]
      summary: Stop app
      description: Stop a running application
      operationId: stopApp
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: App stopped
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '403':
          description: Cannot stop system app
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /apps/{name}/restart:
    post:
      tags: [Apps]
      summary: Restart app
      description: Restart an application
      operationId: restartApp
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: App restarted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /apps/{name}/enable:
    post:
      tags: [Apps]
      summary: Enable app
      description: Enable app to start on boot
      operationId: enableApp
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: App enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /apps/{name}/disable:
    post:
      tags: [Apps]
      summary: Disable app
      description: Disable app from starting on boot
      operationId: disableApp
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: App disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '403':
          description: Cannot disable system app
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /apps/{name}/logs:
    get:
      tags: [Apps]
      summary: Get app logs
      description: Retrieve application logs
      operationId: getAppLogs
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppName'
        - name: lines
          in: query
          description: Number of log lines to return
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 10000
        - name: since
          in: query
          description: Return logs since this timestamp
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: App logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogsResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /apps/{name}/tor:
    post:
      tags: [Apps]
      summary: Set Tor routing
      description: Enable or disable Tor routing for an app
      operationId: setAppTor
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled:
                  type: boolean
      responses:
        '200':
          description: Tor routing updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # Network Resource
  # ============================================================================
  /network/status:
    get:
      tags: [Network]
      summary: Get network status
      description: Returns current network mode, interfaces, and connectivity
      operationId: getNetworkStatus
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Network status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkStatus'

  /network/mode:
    post:
      tags: [Network]
      summary: Set network mode
      description: Switch between OFFLINE, ONLINE_ETH, or ONLINE_WIFI mode
      operationId: setNetworkMode
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetNetworkModeRequest'
      responses:
        '200':
          description: Network mode changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          description: WiFi connection failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /network/wifi/scan:
    get:
      tags: [Network]
      summary: Scan WiFi networks
      description: Scan for available WiFi networks (requires USB WiFi dongle)
      operationId: scanWiFi
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of available networks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WiFiScanResponse'
        '503':
          description: WiFi interface not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /network/wifi/connect:
    post:
      tags: [Network]
      summary: Connect to WiFi
      description: Connect to a WiFi network
      operationId: connectWiFi
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WiFiConnectRequest'
      responses:
        '200':
          description: Connected successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          description: Connection failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /network/ap/config:
    get:
      tags: [Network]
      summary: Get AP configuration
      description: Get Access Point (hostapd) configuration
      operationId: getAPConfig
      security:
        - bearerAuth: []
      responses:
        '200':
          description: AP configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APConfig'

    put:
      tags: [Network]
      summary: Update AP configuration
      description: Update Access Point SSID, password, and settings
      operationId: updateAPConfig
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APConfig'
      responses:
        '200':
          description: AP configuration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APConfig'
        '400':
          $ref: '#/components/responses/BadRequest'

  /network/ap/clients:
    get:
      tags: [Network]
      summary: Get connected clients
      description: List devices connected to the Access Point
      operationId: getAPClients
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of connected clients
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APClientsResponse'

  # ============================================================================
  # VPN Resource
  # ============================================================================
  /vpn/status:
    get:
      tags: [VPN]
      summary: Get VPN status
      description: Returns current VPN connection status
      operationId: getVPNStatus
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VPN status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VPNStatus'

  /vpn/configs:
    get:
      tags: [VPN]
      summary: List VPN configurations
      description: Returns all configured VPN profiles
      operationId: listVPNConfigs
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of VPN configurations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VPNConfigListResponse'

    post:
      tags: [VPN]
      summary: Add VPN configuration
      description: Add a new WireGuard or OpenVPN configuration
      operationId: addVPNConfig
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddVPNConfigRequest'
      responses:
        '201':
          description: VPN configuration added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VPNConfig'
        '400':
          $ref: '#/components/responses/BadRequest'

  /vpn/configs/{name}:
    get:
      tags: [VPN]
      summary: Get VPN configuration
      description: Get details of a specific VPN configuration
      operationId: getVPNConfig
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/VPNConfigName'
      responses:
        '200':
          description: VPN configuration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VPNConfig'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [VPN]
      summary: Delete VPN configuration
      description: Remove a VPN configuration
      operationId: deleteVPNConfig
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/VPNConfigName'
      responses:
        '200':
          description: VPN configuration deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /vpn/configs/{name}/connect:
    post:
      tags: [VPN]
      summary: Connect VPN
      description: Establish VPN connection using the specified configuration
      operationId: connectVPN
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/VPNConfigName'
      responses:
        '200':
          description: VPN connected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VPNStatus'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Connection failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /vpn/configs/{name}/disconnect:
    post:
      tags: [VPN]
      summary: Disconnect VPN
      description: Disconnect the VPN
      operationId: disconnectVPN
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/VPNConfigName'
      responses:
        '200':
          description: VPN disconnected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /vpn/public-ip:
    get:
      tags: [VPN]
      summary: Get public IP
      description: Returns the current public IP address (useful to verify VPN)
      operationId: getPublicIP
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Public IP address
          content:
            application/json:
              schema:
                type: object
                properties:
                  ip:
                    type: string
                    example: "203.0.113.50"

  # ============================================================================
  # Mounts Resource
  # ============================================================================
  /mounts:
    get:
      tags: [Mounts]
      summary: List mounts
      description: Returns all configured SMB/NFS mounts
      operationId: listMounts
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of mounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MountListResponse'

    post:
      tags: [Mounts]
      summary: Create mount
      description: Configure a new SMB or NFS mount
      operationId: createMount
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMountRequest'
      responses:
        '201':
          description: Mount created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mount'
        '400':
          $ref: '#/components/responses/BadRequest'

  /mounts/{name}:
    get:
      tags: [Mounts]
      summary: Get mount
      description: Get details of a specific mount
      operationId: getMount
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MountName'
      responses:
        '200':
          description: Mount details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mount'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Mounts]
      summary: Delete mount
      description: Remove a mount configuration (unmounts first if mounted)
      operationId: deleteMount
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MountName'
      responses:
        '200':
          description: Mount deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /mounts/{name}/mount:
    post:
      tags: [Mounts]
      summary: Mount
      description: Mount the configured share
      operationId: mountShare
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MountName'
      responses:
        '200':
          description: Mount successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mount'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Mount failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /mounts/{name}/unmount:
    post:
      tags: [Mounts]
      summary: Unmount
      description: Unmount the share
      operationId: unmountShare
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MountName'
      responses:
        '200':
          description: Unmount successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mount'
        '404':
          $ref: '#/components/responses/NotFound'

  /mounts/{name}/status:
    get:
      tags: [Mounts]
      summary: Get mount status
      description: Check if mount is currently mounted
      operationId: getMountStatus
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MountName'
      responses:
        '200':
          description: Mount status
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_mounted:
                    type: boolean

  /mounts/test:
    post:
      tags: [Mounts]
      summary: Test mount connection
      description: Test connectivity to a remote share without creating a mount
      operationId: testMountConnection
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMountRequest'
      responses:
        '200':
          description: Connection test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string

  # ============================================================================
  # Profiles Resource
  # ============================================================================
  /profiles:
    get:
      tags: [Profiles]
      summary: List profiles
      description: Returns all service profiles
      operationId: listProfiles
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResponse'

    post:
      tags: [Profiles]
      summary: Create profile
      description: Create a custom profile
      operationId: createProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfileRequest'
      responses:
        '201':
          description: Profile created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          $ref: '#/components/responses/BadRequest'

  /profiles/{name}:
    get:
      tags: [Profiles]
      summary: Get profile
      description: Get details of a specific profile
      operationId: getProfile
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProfileName'
      responses:
        '200':
          description: Profile details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '404':
          $ref: '#/components/responses/NotFound'

  /profiles/{name}/apply:
    post:
      tags: [Profiles]
      summary: Apply profile
      description: Apply a profile, starting/stopping apps as configured
      operationId: applyProfile
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProfileName'
      responses:
        '200':
          description: Profile applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyProfileResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # System Resource
  # ============================================================================
  /system/info:
    get:
      tags: [System]
      summary: Get system info
      description: Returns system information (hardware, OS, versions)
      operationId: getSystemInfo
      security:
        - bearerAuth: []
      responses:
        '200':
          description: System information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemInfo'

  /system/stats:
    get:
      tags: [System]
      summary: Get system stats
      description: Returns current CPU, memory, and disk usage
      operationId: getSystemStats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: System statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStats'

  /system/temperature:
    get:
      tags: [System]
      summary: Get temperature
      description: Returns CPU temperature
      operationId: getTemperature
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Temperature reading
          content:
            application/json:
              schema:
                type: object
                properties:
                  celsius:
                    type: number
                    format: float
                    example: 45.5
                  fahrenheit:
                    type: number
                    format: float
                    example: 113.9

  /system/reboot:
    post:
      tags: [System]
      summary: Reboot system
      description: Reboot the Raspberry Pi
      operationId: rebootSystem
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Reboot initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /system/shutdown:
    post:
      tags: [System]
      summary: Shutdown system
      description: Shutdown the Raspberry Pi
      operationId: shutdownSystem
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Shutdown initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    AppName:
      name: name
      in: path
      required: true
      description: Application name (lowercase, no spaces)
      schema:
        type: string
        pattern: '^[a-z][a-z0-9-]*$'
        example: filebrowser

    VPNConfigName:
      name: name
      in: path
      required: true
      description: VPN configuration name
      schema:
        type: string
        example: work-vpn

    MountName:
      name: name
      in: path
      required: true
      description: Mount name
      schema:
        type: string
        example: nas-backup

    ProfileName:
      name: name
      in: path
      required: true
      description: Profile name
      schema:
        type: string
        example: minimal

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    # Common Schemas
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Operation completed successfully"

    ErrorResponse:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          description: Error code
          example: "APP_NOT_FOUND"
        message:
          type: string
          description: Human-readable error message
          example: "Application 'filebrowser' not found"

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: "healthy"
        version:
          type: string
          example: "2.0.0"
        uptime_seconds:
          type: number
          format: float
          example: 3600.5

    # Auth Schemas
    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          example: admin
        password:
          type: string
          format: password

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          description: JWT token
        expires_at:
          type: string
          format: date-time

    # App Schemas
    App:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          example: filebrowser
        display_name:
          type: string
          example: File Browser
        description:
          type: string
        type:
          type: string
          enum: [system, platform, network, ai, user]
        category:
          type: string
          example: files
        source:
          type: string
          enum: [cubeos, casaos, custom]
        enabled:
          type: boolean
          description: Whether app starts on boot
        tor_enabled:
          type: boolean
        vpn_enabled:
          type: boolean
        icon_url:
          type: string
        version:
          type: string
        homepage:
          type: string
        ports:
          type: array
          items:
            $ref: '#/components/schemas/Port'
        fqdns:
          type: array
          items:
            $ref: '#/components/schemas/FQDN'
        status:
          $ref: '#/components/schemas/AppStatus'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Port:
      type: object
      properties:
        port:
          type: integer
          minimum: 1
          maximum: 65535
        protocol:
          type: string
          enum: [tcp, udp]
        description:
          type: string
        is_primary:
          type: boolean

    FQDN:
      type: object
      properties:
        fqdn:
          type: string
          example: filebrowser.cubeos.cube
        subdomain:
          type: string
          example: filebrowser
        backend_port:
          type: integer
        ssl_enabled:
          type: boolean

    AppStatus:
      type: object
      properties:
        running:
          type: boolean
        health:
          type: string
          enum: [healthy, unhealthy, starting, unknown]
        replicas:
          type: string
          example: "1/1"
        last_started:
          type: string
          format: date-time
        error:
          type: string

    AppListResponse:
      type: object
      properties:
        apps:
          type: array
          items:
            $ref: '#/components/schemas/App'

    InstallAppRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          pattern: '^[a-z][a-z0-9-]*$'
          example: filebrowser
        display_name:
          type: string
          example: File Browser
        source:
          type: string
          enum: [casaos, custom]
          default: casaos
        store_app_id:
          type: string
          description: App ID from app store (for casaos source)
        compose_content:
          type: string
          description: Docker compose YAML (for custom source)

    LogsResponse:
      type: object
      properties:
        logs:
          type: array
          items:
            type: string
        lines:
          type: integer

    # Network Schemas
    NetworkStatus:
      type: object
      properties:
        mode:
          type: string
          enum: [offline, online_eth, online_wifi]
        internet:
          type: boolean
        ap:
          type: object
          properties:
            ssid:
              type: string
            interface:
              type: string
            clients:
              type: integer
        upstream:
          type: object
          properties:
            interface:
              type: string
            ip:
              type: string
            gateway:
              type: string
            ssid:
              type: string
              description: Only present in online_wifi mode
        subnet:
          type: string
          example: "10.42.24.0/24"
        gateway_ip:
          type: string
          example: "10.42.24.1"

    SetNetworkModeRequest:
      type: object
      required: [mode]
      properties:
        mode:
          type: string
          enum: [offline, online_eth, online_wifi]
        ssid:
          type: string
          description: Required for online_wifi mode
        password:
          type: string
          description: Required for online_wifi mode

    WiFiNetwork:
      type: object
      properties:
        ssid:
          type: string
        bssid:
          type: string
        signal:
          type: integer
          description: Signal strength in dBm
        security:
          type: string
          example: "WPA2"
        frequency:
          type: integer
          description: Frequency in MHz

    WiFiScanResponse:
      type: object
      properties:
        networks:
          type: array
          items:
            $ref: '#/components/schemas/WiFiNetwork'

    WiFiConnectRequest:
      type: object
      required: [ssid, password]
      properties:
        ssid:
          type: string
        password:
          type: string
        interface:
          type: string
          description: WiFi interface to use (default auto-detect)

    APConfig:
      type: object
      properties:
        ssid:
          type: string
          example: CubeOS
        password:
          type: string
          minLength: 8
        channel:
          type: integer
          minimum: 1
          maximum: 14
        hidden:
          type: boolean
        interface:
          type: string

    APClientsResponse:
      type: object
      properties:
        clients:
          type: array
          items:
            type: object
            properties:
              mac:
                type: string
              ip:
                type: string
              hostname:
                type: string

    # VPN Schemas
    VPNConfig:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        type:
          type: string
          enum: [wireguard, openvpn]
        is_active:
          type: boolean
        auto_connect:
          type: boolean
        created_at:
          type: string
          format: date-time

    VPNStatus:
      type: object
      properties:
        active_config:
          type: string
        type:
          type: string
          enum: [wireguard, openvpn]
        connected:
          type: boolean
        public_ip:
          type: string
        connected_since:
          type: string
          format: date-time

    VPNConfigListResponse:
      type: object
      properties:
        configs:
          type: array
          items:
            $ref: '#/components/schemas/VPNConfig'

    AddVPNConfigRequest:
      type: object
      required: [name, type, config]
      properties:
        name:
          type: string
        type:
          type: string
          enum: [wireguard, openvpn]
        config:
          type: string
          description: Base64-encoded configuration file
        auto_connect:
          type: boolean
          default: false

    # Mount Schemas
    Mount:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        type:
          type: string
          enum: [smb, nfs]
        remote_path:
          type: string
          example: "//192.168.1.50/backup"
        local_path:
          type: string
          example: "/cubeos/mounts/nas-backup"
        username:
          type: string
        is_mounted:
          type: boolean
        auto_mount:
          type: boolean
        created_at:
          type: string
          format: date-time

    MountListResponse:
      type: object
      properties:
        mounts:
          type: array
          items:
            $ref: '#/components/schemas/Mount'

    CreateMountRequest:
      type: object
      required: [name, type, remote_path]
      properties:
        name:
          type: string
        type:
          type: string
          enum: [smb, nfs]
        remote_path:
          type: string
          description: "SMB: //server/share, NFS: server:/path"
        username:
          type: string
          description: For SMB authentication
        password:
          type: string
          description: For SMB authentication
        options:
          type: string
          description: Additional mount options
        auto_mount:
          type: boolean
          default: false

    # Profile Schemas
    Profile:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        display_name:
          type: string
        description:
          type: string
        is_active:
          type: boolean
        is_system:
          type: boolean
        apps:
          type: array
          items:
            type: object
            properties:
              app_id:
                type: integer
              app_name:
                type: string
              enabled:
                type: boolean

    ProfileListResponse:
      type: object
      properties:
        profiles:
          type: array
          items:
            $ref: '#/components/schemas/Profile'
        active_profile:
          type: string

    CreateProfileRequest:
      type: object
      required: [name, display_name]
      properties:
        name:
          type: string
        display_name:
          type: string
        description:
          type: string
        apps:
          type: array
          items:
            type: object
            properties:
              app_name:
                type: string
              enabled:
                type: boolean

    ApplyProfileResponse:
      type: object
      properties:
        profile:
          type: string
        started:
          type: array
          items:
            type: string
        stopped:
          type: array
          items:
            type: string

    # System Schemas
    SystemInfo:
      type: object
      properties:
        hostname:
          type: string
        platform:
          type: string
          example: "Raspberry Pi 5"
        architecture:
          type: string
          example: "arm64"
        os:
          type: string
          example: "Ubuntu 24.04 LTS"
        kernel:
          type: string
        cubeos_version:
          type: string
          example: "2.0.0"
        docker_version:
          type: string
        uptime:
          type: integer
          description: Uptime in seconds

    SystemStats:
      type: object
      properties:
        cpu:
          type: object
          properties:
            usage_percent:
              type: number
              format: float
            cores:
              type: integer
        memory:
          type: object
          properties:
            total_bytes:
              type: integer
              format: int64
            used_bytes:
              type: integer
              format: int64
            usage_percent:
              type: number
              format: float
        disk:
          type: object
          properties:
            total_bytes:
              type: integer
              format: int64
            used_bytes:
              type: integer
              format: int64
            usage_percent:
              type: number
              format: float
